.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-size: 15px;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
}
.menu-area{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.menu-list{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}
.menu-list li{
    padding: 10px;
}
.menu-search{
    margin-top: 5px;
    margin-right: 15px;
    position: absolute;
}
.menu-search input{
    background: none;
    border: 0;
    border-bottom: 1px solid #222;
    outline: none;
    padding-left: 20px;
}
.icon{
    position: absolute;
    padding-top: 5px;
}
.product-card{
    background-color: whitesmoke;
    margin-bottom: 20px;
    font-size: 20px;
}
.product-card img{
    width: 100%;
    height: 100%;
}
.product-card:hover{
    transform: scale(1.05);
}
.product-img{
    display: flex;
    justify-content: flex-end;
    width: 396px;
    height: 594px;
}
#dropdown-basic{
    background-color: white;
    color: #222;
}
#dropdown-basic:hover{
    background-color: black;
    color: white;
}
#dropdown-basic:focus{
    border: 3px solid gray;
}
.product-info{
    font-size: 25px;
}
.product-add{
    width: 100px;
}